@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: var(--font-inter) !important;
  font-weight: 500;
}

.form-check-input:checked[type='checkbox'] {
  background-image: url('/check.svg');
}
.form-check-input:checked {
  background-color: #0bb197;
  border-color: #0bb197;
}
.form-check-input[type='checkbox'] {
  border-radius: 0.25em;
}
.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}
.form-check-input,
.form-check-label {
  cursor: pointer;
  margin-bottom: 0;
  -webkit-user-select: none;
  user-select: none;
}
.form-check-input {
  -webkit-appearance: none;
  appearance: none;
  background-color: #2d3448;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #79859c;
  height: 1em;
  // margin-top: 0.25em;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  transition: background-color 0.15s ease-in-out,
    background-position 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  vertical-align: top;
  width: 1em;
}
