.ant-menu {
  background-color: #252b3b;
  color: #5d6678;
  height: 100%;
}
/* button */
// .ant-btn.css-dev-only-do-not-override-byeoj0.ant-btn-primary {
//   display: none !important;
// }
/*  bgc item*/
.ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline,
.ant-menu-dark > .ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  background-color: #252b3b;
}
/* select item */
.ant-menu-dark .ant-menu-item-selected,
.ant-menu-dark > .ant-menu .ant-menu-item-selected {
  background-color: transparent;
}
